body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    justify-content: flex-start;
}
.main-content{
    display: flex;
    justify-content: center;
}
#content{
    width: 90%;
    height: auto;
    border-style: solid;
    border-width: 1px;
}