::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 2px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media screen and (max-device-width: 600px) {
	.root{
		background-color: violet;
	}
	.f-12{
		font-size: 12px;
	}
	li{
		margin: 0px;
	}
	.m-nav-box-links{
		display: flex;
	}
	.nav-box-links{
		display: none;
	}
}