.container{
    display: flex;
}
.img-container{
    width: 700px;
    height: 400px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.data-box{
    display: flex;
    flex-direction: column;
}